.article {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__image {
    height: 200px;
    object-fit: cover;
  }

  &__date {
    margin: 25px 0 $s;
    @include font-size(14);
    font-weight: 300;
  }

  &__header {
    margin: 0 0 6px;
    @include font-size(18);
    font-weight: 700;
  }

  &__content {
    flex-grow: 1;
  }

  &__more {
    margin-top: 10px;
    @include font-size(18);
    font-weight: 500;
    font-style: italic;
    color: $text-color;
  }
}
