.form-inner {
  padding: 25px;
  background: rgba(0,0,0,.5);
  border-radius: 14px;
}

input[type='text'], input[type='tel'], input[type='email'], textarea {
  font-family: "IBM Plex Sans", sans-serif;
  @include font-size(16);
  font-weight: 500;
  background: none;
  border: none;
  color: $white;
  border-bottom: 1px solid white;
  padding: 8px 0;
  width: 100%;
  margin-bottom: 30px;
}

textarea {
  height: 100px;
}

input[type='submit'] {
  border: none;
  font-family: "IBM Plex Sans", sans-serif;
}

::-moz-focus-inner {
  border: 0;
}

:focus {
  outline: none;
}

::placeholder {
  color: $white;
  opacity: 1;
}

//contact form 7
.wpcf7-list-item-label {
  color: $white;
  @include font-size(14);
}

.wpcf7-not-valid-tip {
  color: $red;
  margin-top: -24px;
  display: block;
  margin-bottom: 4px;
}

.message .wpcf7-not-valid-tip {
  margin-bottom: 12px;
}

.checkbox-49 .wpcf7-not-valid-tip {
  margin-top: -6px;
}

.invalid .wpcf7-response-output {
  margin-top: 20px;
  color: $red;
}

.sent .wpcf7-response-output {
  margin-top: 20px;
  color: $green;
}

/* Text meant only for screen readers. */
.screen-reader-response {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}
